* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 41, 41);
  position: relative;
  overflow: hidden;
}

#container img {
  height: 600px;
  width: 600px;
  object-fit: cover;
  border-radius: 15px;
}

#container i {
  color: rgb(183, 0, 0);
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3 ease;
  opacity: 0;
}
